@use "abstracts" as *;
@use "base" as *;

.card-details {
  &__container {
    display: flex;
    @include flex(row, space-evenly, center, 10rem);
  }

  &__img-front-box,
  &__img-back-box {
    position: relative;
    width: 40rem;
    height: 21rem;
  }

  &__img-front,
  &__img-back {
    width: 40rem;
    height: 21rem;
  }

  &__img-logo,
  &__number,
  &__name,
  &__exp-date,
  &__cvc {
    position: absolute;
  }

  &__img-logo {
    top: 10%;
    left: 6%;
    width: 7rem;
  }

  &__number,
  &__name,
  &__exp-date,
  &__cvc {
    color: var(--clr-white);
  }

  &__number {
    top: 51.5%;
    transform: translateX(7.5%);
    font-size: 2.6rem;
    letter-spacing: 2.5px;
  }

  &__name,
  &__exp-date,
  &__cvc {
    font-size: 1.2rem;
    letter-spacing: 1.5px;
  }
  &__name,
  &__exp-date {
    bottom: 13.5%;
  }

  &__name {
    left: 6.5%;
  }

  &__exp-date {
    right: 6.5%;
  }

  &__img-back-box {
    margin-top: 2.4rem;
    margin-left: 8rem;
  }

  &__cvc {
    right: 12.5%;
    top: 45%;
  }

  &__form {
    width: 40rem;
  }

  &__form-group-exp-cvc {
    @include flex(row, intial, center, 2.4rem);
    margin-bottom: 2rem;
  }

  &__form-label {
    display: block;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: var(--clr-very-dark-violet);
  }

  ::placeholder,
  ::-moz-placeholder,
  :-moz-placeholder,
  ::-webkit-input-placeholder {
    color: var(--clr-dark-violet);
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 1.5px;
  }

  &__form-input {
    border: 2px solid var(--clr-light-violet);
    border-radius: 7.5px;
    width: 100%;
    padding: 1.2rem 1.6rem;
    font-size: 1.6rem;
    color: var(--clr-very-dark-violet);
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 2.4rem;
    outline: none;

    &:focus {
      border-color: transparent;
      background-image: linear-gradient(var(--clr-white), var(--clr-white)),
        linear-gradient(
          to right,
          var(--clr-blue-gradient),
          var(--clr-purple-gradient)
        );
      background-origin: border-box;
      background-clip: padding-box, border-box;
    }
  }
  &__form-group {
    position: relative;
  }

  &__error &__form-input {
    &:focus {
      border-color: var(--clr-red);
    }
  }

  &__error-msg {
    color: var(--clr-red);
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 1.2rem;
    font-weight: 500;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }
  }

  &__inputs-exp {
    @include flex(row, intial, center, 1.2rem);
  }

  &__form-group-cvc {
    width: 50rem;
  }

  &__form-submit-button {
    width: 100%;
    padding: 1.6rem;
    background-color: var(--clr-very-dark-violet);
    border: none;
    border-radius: 7.5px;
    color: var(--clr-light-violet);
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1.5px;
  }
}
